# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# All files resulted of compilation
bin/*
# except for .gitkeep file
!bin/.gitkeep

# temporary commands reminder file
.command-reminder

# Logs files except gitkeep file
logs/*
!logs/.gitkeep

# Traces files except gitkeep file
logs/traces/*
!logs/traces/.gitkeep

# Experiments should keep directories but not files
experiments/in/*.dat
experiments/stats/*.csv
experiments/out/*.png
!experiments/in/.gitkeep
!experiments/stats/.gitkeep
!experiments/out/.gitkeep
